/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
span,
ul {
  margin: 0;
  padding: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
  border-bottom: 0.05rem solid #d4d4d4;
  height: 8.75vh;
  padding: 0 13%;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav li {
  color: #2f66f3;
  float: left;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 8.75vh;
  text-align: center;
}

.courses-li {
  width: 10%;
}

nav select {
  appearance: none;
  background: url('../assets/dropdown-arrow.svg') no-repeat right 0.75rem center/1rem auto;
  background-size: 0.5rem;
  border: none;
  color: #2f66f3;
  vertical-align: middle;
  width: 20%;
}

nav input,
nav button {
  background-color: #F0F1F2;
  border: none;
  height: 5.5vh;
}

nav input {
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.063rem 0.6rem;
  width: 67.5%;
}

nav input::placeholder {
  color: #2f66f3;
  font-size: 0.9rem;
  font-weight: 700;
}

nav button i {
  color: #8A8E94;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/