/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 700;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul {
    margin: 0;
}

a {
    cursor: pointer;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
    background: #66768a;
    height: 4rem;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    float: left;
    line-height: 4rem;
}

.classes-li {
    width: 7.25%;
}

.hire-li {
    width: 40%;
}

.classes-li a,
.hire-li a {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 650;
}

.logo-li {
    width: 45%;
}

nav img {
    vertical-align: middle;
    width: 5%;
}

.donate-li a {
    background-color: #fff;
    border-radius: 0.3rem;
    color: #66768a;
    font-size: 0.85rem;
    font-weight: 650;
    padding: 12.5% 17.5%;
}


/* INTRO */

.intro {
    color: #fff;
    background: #66768a;
    padding: 7% 6% 3% 6%;
    text-align: center;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 5rem;
    font-weight: 450;
    margin-bottom: 4%;
}

.intro p {
    font-family: "Oswald", sans-serif;
    font-size: 1.45rem;
    font-weight: 350;
    line-height: 2rem;
    margin: 0% auto 5% auto;
    width: 80%;
}

.intro a {
    font-size: 1.25rem;
    font-weight: 350;
}

.intro img {
    margin-right: 0.5%;
    vertical-align: middle;
    width: 2.5%;
}

.intro span {
    color: #3d4351;
    display: block;
    font-style: italic;
    font-weight: 600;
    margin-top: 5.5%;
}


/* PURPOSE */

.purpose {
    padding: 8% 10%;
    text-align: center;
}

.purpose h2 {
    color: #161F2A;
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    font-weight: 450;
    margin-bottom: 2%;
}

.purpose p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 auto;
    width: 60%;
}


/* TWIN */

.twin {
    background: #DBDFE2;
    height: 50rem;
    padding: 8% 15%;
    text-align: center;
}

.twin-left {
    float: left;
    margin-right: 5%;
    width: 47.5%;
}

.image-placeholder {
    background: #66768a;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.267);
    height: 12rem;
    margin: 0% auto 7.75% auto;
    width: 80%;
}

.twin h3 {
    color: #161F2A;
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5%;
}

.twin-right {
    float: left;
    width: 47.5%;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/