/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.source-sans-3 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 900;
    font-style: normal;
}

body {
    background: #F8F9FB;
    color: #151E30;
    font-family: "Source Sans 3", sans-serif;
}

h4,
p,
span,
ul {
    margin: 0;
    padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
    background: #151E30;
    height: 5rem;
    padding: 0 4rem;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    float: left;
    line-height: 5rem;
}

.logo-li {
    width: 40%;
}

nav svg {
    height: 1.25rem;
    vertical-align: middle;
    width: 1.25rem;
}

.menu-option {
    color: #BBBBBB;
    font-size: 0.65rem;
    padding-right: 2.5rem;
}

.menu-option.active {
    color: #FFFFFF;
}

.sign-li button {
    background: #343b4b;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-size: 0.65rem;
    padding: 0.75rem 1.5rem;
    vertical-align: middle;
}


/* HOME */
.home {
    color: #FFFFFF;
    margin-top: -0.063rem;
    padding: 2.5rem 4rem 5rem 4rem;
    padding-bottom: 5rem;
    position: relative;
}

.home::before {
    background: linear-gradient(to right, #151E30, #151E30);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.home::after {
    clear: both;
    content: "";
    display: table;
}

.home-left {
    float: left;
    position: relative;
    width: 52.5%;
    z-index: 1;
}

.home-left h1 {
    font-size: 1.65rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.25rem;
}

.home-left p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 3.5rem;
}

.home-links button {
    border: none;
    font-size: 0.7rem;
    padding: 0.8rem 2.5rem;
}

.home-link-order {
    background: #FFFFFF;
    border-radius: 0.25rem;
    color: #151E30;
}

.home-link-account {
    background: none;
    color: #FFFFFF;
}

.home-right {
    background: #DFE1EA;
    border: solid #FFFFFF;
    border-radius: 1.25rem;
    border-width: 0.9rem 1.9rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.813rem 1.688rem -0.313rem, rgba(0, 0, 0, 0.3) 0rem 0.5rem 1rem -0.5rem;
    float: left;
    margin-bottom: -5rem;
    padding: 5rem 7.5rem;
    position: relative;
    text-align: center;
    width: 47.5%;
    z-index: 1;
}

.home-right div {
    background: #151E30;
    padding: 1.25rem 0;
}

.home-right svg {
    display: block;
    margin: 0.5rem auto;
    width: 1.5rem;
}

.home-right span {
    font-size: 0.7rem;
    font-weight: 300;
}


/* SERVICES */
.services {
    padding: 4rem;
}

.clients {
    padding-left: 15rem;
}

.airbnb {
    margin-right: 2.25rem;
    width: 4rem;
}

.shopify {
    margin-right: 2.25rem;
    width: 4.25rem;
}

.salesforce {
    margin-right: 2.25rem;
    width: 2.75rem;
}

.twitter {
    margin-right: 2.25rem;
    width: 1.75rem;
}

.netflix {
    margin-right: 2.25rem;
    width: 3rem;
}

.dropbox {
    margin-right: 2.25rem;
    width: 5rem;
}

.huge {
    width: 2.75rem;
}

.services-content {
    padding: 5rem 0;
}

.services-left {
    float: left;
    width: 55%;
}

.services-left span {
    font-size: 0.9rem;
}

.services-left h2 {
    font-size: 1.8rem;
    font-weight: 350;
    margin: 1rem 0;
}

.services-left p {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.services-left a {
    background: #151E30;
    border-radius: 0.25rem;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.7rem;
    margin-top: 2rem;
    padding: 0.8rem 2.5rem;
}

.services-right {
    float: left;
    width: 45%;
}

.service-card {
    background: #DFE1EA;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.813rem 1.688rem -0.313rem, rgba(0, 0, 0, 0.3) 0rem 0.5rem 1rem -0.5rem;
    float: left;
    margin-bottom: 5.25%;
    overflow: hidden;
    text-align: center;
    width: 47.5%;
}

.service-card.first {
    background: #151E30;
    margin-right: 5%;
}

.service-card-img {
    padding: 4rem 0;
}

.service-card.first .service-card-img {
    color: #FFFFFF;
}

.service-card span {
    font-size: 0.75rem;
}

.service-card svg {
    display: block;
    margin: 0 auto 0.5rem auto;
    width: 1.5rem;
}

.service-card.third {
    margin-right: 5%;
}

.service-card-content {
    background: #FFFFFF;
    padding: 0.85rem 0;
}

.service-card h4 {
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

.service-card p {
    font-size: 0.7rem;
    font-weight: 300;
}


/* ABOUT */
.section {
    padding: 35rem 4rem;
}

.section-left {
    background: #DFE1EA;
    border-radius: 0.5rem;
    float: left;
    margin-right: 6.5%;
    padding: 10rem;
    text-align: center;
    width: 44%;
}

.section-left-img {
    background: #151E30;
    color: #FFFFFF;
    padding: 1.75rem 0;
}

.section-left-img svg {
    display: block;
    margin: 0 auto 0.5rem auto;
    width: 1.5rem;
}

.section-left-img span {
    font-size: 0.75rem;
}

.section-right {
    float: left;
    width: 49.5%;
}

.section-right span {
    font-size: 0.9rem;
}

.section-right h2 {
    font-size: 2rem;
    font-weight: 350;
    line-height: 2.5rem;
    margin: 1.25rem 0;
}

.section-right p {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

.section-right a {
    background: #151E30;
    border-radius: 0.25rem;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.7rem;
    margin-top: 2.5rem;
    padding: 0.8rem 2.5rem;
}


/* TEAM TOP */
.team-top {
    padding: 0 4rem;
}

.team-top h3 {
    font-size: 1.75rem;
    font-weight: 350;
    margin: 1rem 0;
    text-align: center;
}

.team-top-desc {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: center;
}

.team-top-content {
    margin: 2.5rem 0;
}

.team-top-content::after {
    clear: both;
    content: "";
    display: table;
}

.team-top-left {
    background: #DFE1EA;
    border-radius: 0.5rem;
    float: left;
    margin-right: 6.5%;
    padding: 9.5rem 10rem;
    text-align: center;
    width: 44%;
}

.team-top-right {
    float: left;
    width: 49.5%;
}

.team-top-right span {
    font-size: 0.9rem;
}

.team-top-right h2 {
    font-size: 1.65rem;
    font-weight: 350;
    line-height: 2.5rem;
    margin: 0.7rem 0;
}

.team-top-right p {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.account-feature {
    margin-top: 1.5rem;
}

.account-check {
    background: #FFFFFF;
    border: 0.15rem solid #151E30;
    border-radius: 0.25rem;
    float: left;
    margin-right: 3%;
    width: 3.75%;
}

.account-desc {
    float: left;
    margin-bottom: 1rem;
    width: 93.25%;
}

.account-desc h4 {
    margin-bottom: 0.25rem;
}

.account-arrows {
    margin-top: 12.5rem;
}

.account-arrows div {
    border: 0.1rem solid #151E30;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
    padding: 0.025rem 0.7rem;
    text-align: center;
    width: 5%;
}

.account-arrows p {
    font-size: 1rem;
    font-weight: 400;
}

.team-top-a {
    background: #151E30;
    border-radius: 0.25rem;
    color: #FFFFFF;
    display: block;
    font-size: 0.7rem;
    margin: 0 auto;
    padding: 0.8rem 0;
    text-align: center;
    width: 15%;
}


/* TEAM BOTTOM */

.team-bottom {
    background: #FFFFFF;
    overflow-x: hidden;
    position: relative;
}

.team-bottom::before {
    background: linear-gradient(to right, #151E30, #151E30);
    bottom: 0;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    content: "";
    height: 70%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.team-bottom-wrapper {
    padding: 4rem 0 4.5rem 0;
    position: relative;
    z-index: 1;
}

.team-bottom-wrapper span {
    font-size: 0.8rem;
    padding-left: 4rem;
}

.team-bottom-wrapper h2 {
    font-size: 1.65rem;
    font-weight: 350;
    line-height: 2.25rem;
    margin: 0.7rem 0 5rem 0;
    padding-left: 4rem;
}

.team-cards-top {
    margin: 0 0 2rem 4rem;
    width: calc(100% + 300px);
}

.team-cards-top::after {
    clear: both;
    content: "";
    display: table;
}

.team-cards-bottom {
    margin-left: -225px;
    margin-right: 4rem;
    width: calc(100% + 300px);
}

.team-cards-bottom::after {
    clear: both;
    content: "";
    display: table;
}

.team-card {
    background: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 2rem;
    padding: 2rem;
    width: 21.5rem;
}

.team-card.feature-card {
    height: 11.05rem;
    text-align: center;
}

.team-card.feature-card h4 {
    margin-top: 20%;
}

.team-card-check {
    background: #FFFFFF;
    border: 0.15rem solid #151E30;
    border-radius: 0.25rem;
    height: 1.15rem;
    margin-bottom: 1rem;
    width: 1.15rem;
}

.team-card h4 {
    margin-bottom: 0.75rem;
}

.team-card p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
}


/* BLOG TOP */

.section.blog-top {
    padding: 7rem 4rem 32.5rem 4rem;
}


/* BLOG BOTTOM */
.blog-bottom {
    background: #FFFFFF;
    padding: 6rem 4rem;
}

.blog-bottom::after {
    clear: both;
    content: "";
    display: table;
}

.blog-left {
    float: left;
    text-align: center;
    width: 3.5%;
}

.blog-middle {
    float: left;
    text-align: center;
    width: 93%;
}

.blog-right {
    float: left;
    text-align: center;
    width: 3.5%;
}

.blog-arrows {
    border: 0.125rem solid #151E30;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.4rem;
}

.blog-span {
    display: inline-block;
    margin-bottom: 1.75rem;
}

.blog-middle p {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.blog-profile {
    display: inline-block;
    float: none;
    margin: 2.5rem 0 0 0;
    text-align: left;
    width: 20%;
}

.blog-profile::after {
    clear: both;
    content: "";
    display: table;
}

.blog-profile-pic {
    background: #DFE1EA;
    border-radius: 50%;
    float: left;
    height: 3.15rem;
    margin-right: 3%;
    width: 32%;
}

.blog-profile-desc {
    float: left;
    width: 65%;
}

.blog-profile-desc h5 {
    margin: 0 0 0.65rem 0;
}

.blog-profile-desc span {
    font-weight: 300;
    font-size: 0.925rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/