/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.saira {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #122D64;
    font-family: "Saira", sans-serif;
}

h1,
h2,
h3,
h4,
p,
span,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
    position: absolute;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 1.5% 3% 1.5% 45%;
}

nav li {
    font-size: 0.9rem;
    float: left;
}

.menu-li {
    padding: 0 2.5%;
}

nav ul li a {
    color: #122D64;
}

.icon-li {
    padding: 0 3%;
}

nav img {
    width: 1.25rem;
}


/* HOME */

.home {
    background-image: url(../assets/images/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12% 8%;
}

h1 {
    color: #0C0B24;
    font-family: "Yeseva One", serif;
    font-size: 3.75rem;
    margin-bottom: 2.5%;
    width: 50%;
}

.home-form {
    background: #fff;
    border: 0.1rem solid #C0CACD;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.25rem 0.85rem 0.05rem #d3d3d3;
    font-size: 0.7rem;
    height: 2.75rem;
    line-height: 2.75rem;
    margin-bottom: 3.25%;
    padding: 0% 0% 0% 1.25%;
    width: 48%;
}

.home-form i {
    color: #A7A7A7;
    margin-right: 1%;
}

.home-form input {
    border: none;
}

.home-form div {
    background: #ff8f11;
    border-radius: 0 0.4rem 0.4rem 0;
    float: right;
    height: 100%;
    text-align: center;
    width: 25%;
}

.home-form label {
    color: #FFF;
    height: 100%;
}

.home-form select {
    background: #ff8f11;
    border: none;
    color: #FFF;
    margin: 0;
    width: 12.5%;
}

.home-socials div {
    float: left;
    margin-right: 3%;
}

.home-socials img {
    height: 1rem;
    width: 1rem;
}

.home-socials span {
    font-size: 0.95rem;
    font-weight: 500;
}


/* ABOUT US */

.about-us {
    background-image: url('../assets/images/about-us-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7.5%;
}

.about-us-container {
    max-width: 90%;
    padding-left: 37.5%;
}

.about-desc-span {
    color: #FF8800;
    font-weight: 450;
}

.about-us h2 {
    color: #0D0D25;
    font-family: "Yeseva One", serif;
    font-size: 3rem;
    margin: 1.5% 0% 5% 0%;
}

.about-us p {
    font-size: 0.85rem;
    line-height: 1.5rem;
    margin-bottom: 3.5%;
}

.about-us-discover-left {
    background: #ff8f11;
    border-radius: 0.35rem 0 0 0.35rem;
    color: #FFF;
    float: left;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    width: 20%;
}

.about-us-discover a {
    color: #FFF;
    font-size: 0.7rem;
}

.about-us-discover-right {
    background: #FFAA4D;
    border-radius: 0 0.35rem 0.35rem 0;
    float: left;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    width: 5%;
}

.about-us-discover svg {
    fill: #FFF;
    width: 0.8rem;
}


/* MENU */

.menu {
    background: #F2F6F7;
    margin: 0 auto;
    padding: 5% 7.5%;
    text-align: center;
    width: 100%;
}

.menu-desc-span {
    color: #FF8800;
    font-weight: 450;
}

.menu h2 {
    color: #0D0D25;
    font-family: "Yeseva One", serif;
    font-size: 3rem;
    margin: 1% 0% 4% 0%;
}

.menu-nav {
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    width: 100%;
}

.menu-nav li {
    border-bottom: 0.12rem solid #cdcdcd;
    display: inline-block;
    font-size: 1rem;
    padding-bottom: 1.25%;
    width: 9%;
}

.menu-gallery-container {
    margin: 0 auto;
    width: 100%;
}

.menu-middle {
    margin-top: 4%;
    width: 100%;
}

.menu-middle div {
    float: left;
    height: 17.5rem;
    margin-left: 3%;
    width: 22%;
}

.menu-middle div:nth-child(1) {
    background-image: url('../assets/images/menu-dish1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 -10rem 10rem rgba(0, 0, 0, 0.76);
    margin-left: 0;
}

.menu-middle span {
    background: #FF8800;
    border-radius: 1rem;
    color: #FFF;
    font-size: 0.8rem;
    float: right;
    margin: 5%;
    padding: 2.5% 8%;
}

.menu-price {
    color: #FFF;
    font-family: "Yeseva One", serif;
    font-size: 2rem;
    margin: 35% 0% 5% 0%;
    text-align: center;
}

.menu-name {
    color: #FFF;
    font-size: 2rem;
    font-weight: 400;
    margin: 4% 0% 15% 0%;
}

.menu-middle a {
    background: #FF8800;
    border-radius: 0.25rem;
    color: #FFF;
    font-size: 0.9rem;
    padding: 3% 6%;
}

.menu-middle div img {
    height: 100%;
    width: 100%;
}

.menu-bottom {
    width: 100%;
}

.menu-bottom div {
    float: left;
    height: 17.5rem;
    margin: 3% 3% 3.5% 0%;
    width: 22%;
}

.menu-bottom div:nth-child(1) {
    margin-left: 0;
}

.menu-bottom div img {
    height: 100%;
    width: 100%;
}

.menu-indicators {
    padding-left: 45%;
}

.menu-indicators p {
    color: #FFDBB1;
    float: left;
    font-family: "Yeseva One", serif;
    font-size: 2rem;
    width: 3%;
}

.menu-indicators p:nth-child(3) {
    color: #FF8800;
}

.menu-middle::after,
.menu-bottom::after {
    content: "";
    display: table;
    clear: both;
}


/* BOOKING */

.booking {
    background-image: url('../assets/images/booking-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #0D0D25;
    padding: 5% 0% 7.5% 5%;
    text-align: center;
}

.booking-span {
    color: #FF8800;
    font-weight: 450;
}

.booking h2 {
    font-family: "Yeseva One", serif;
    font-size: 3rem;
    margin: 1% 0% 3.5% 0%;
}

.booking-telephone {
    display: block;
    margin: 0 auto 1rem auto;
    width: 3.5rem;
}

.booking-number {
    color: #FF8800;
    font-family: "Yeseva One", serif;
    font-size: 1.75rem;
    margin: 1% 0% 0.5% 0%;
}

.booking-schedule div {
    float: left;
    margin-bottom: 4%;
    width: 50%;
}

.booking-schedule h5 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0% 0% 2% 0%;
}

.booking-schedule h4 {
    font-family: "Yeseva One", serif;
    font-size: 1.25rem;
}

.booking-display div {
    float: left;
}

.booking-display div:nth-child(1) {
    text-align: left;
}

.booking-display div:nth-child(2) {
    text-align: right;
}

.booking-arrow {
    padding-top: 15%;
    width: 20%;
}

.booking-arrow img {
    width: 3rem;
}

.booking-display-image {
    background-image: url('../assets/images/booking-display-image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    width: 60%;
}

.booking-display::after {
    content: "";
    display: table;
    clear: both;
}


/* BLOG */

.blog {
    padding: 7% 20% 2.5% 20%;
    text-align: center;
}

.blog-span {
    color: #FF8800;
    font-weight: 450;
}

.blog h2 {
    font-family: "Yeseva One", serif;
    font-size: 2.75rem;
    margin: 1% 0% 6.5% 0%;
}

.blog-pfp {
    width: 6rem;
}

.blog h3 {
    color: #122D64;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2% 0% 0.5% 0%;
}

.blog-job {
    color: #929292;
    font-size: 0.9rem;
}

.blog-rating {
    font-size: 1.15rem;
    margin: 2.75% 0% 3% 0%;
}

.blog-review {
    font-size: 1.15rem;
    font-style: italic;
    line-height: 2rem;
}

.blog-indicators {
    margin: 4% 0%;
    width: 5rem;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/