/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
p,
span,
ul {
    margin: 0;
    padding: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
    background: #F5F9FC;
    height: 10vh;
    padding: 1.5% 2.5%;
}

nav ul {
    list-style: none;
}

nav ul li {
    color: #2C4458;
    float: left;
    line-height: 3vh;
}

.brand-li {
    width: 32.5%;
}

.brand-li a {
    font-size: 1.45rem;
    font-weight: 700;
}

.menu-li {
    font-size: 0.95rem;
    width: 8.5%;
}

.menu-li.last {
    width: 32.75%;
}

.button-li {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

nav button {
    background-color: #2C4458;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 20% 50%;
}


/* HERO */

.hero {
    background: #F5F9FC;
    padding: 9% 0% 5% 10.5%;
}

.hero-left {
    float: left;
    width: 43%;
}

.hero-left span {
    color: #6a7784;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
}

.hero-left h1 {
    color: #2C4458;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1.25%;
}

.hero-right {
    float: left;
    width: 57%;
}

.hero-right img {
    width: 100%;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/