/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

.navbar {
  background-color: #000000;
  height: 2.75rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  border-right: 0.007rem solid #A2A2A2;
  color: #FFFFFF;
  float: left;
  height: 2.75rem;
  line-height: 1.75rem;
  padding: 0.5rem 0.75rem;

}

.bbc-logo-li {
  width: 5.5%;
}

.bbc-logo {
  vertical-align: middle;
  width: 5rem;
}

.sign-in-li {
  width: 12.5%;
}

.sign-in-logo {
  float: left;
  margin: 2.75% 5% 0 2.5%;
  vertical-align: middle;
  width: 1.15rem;
}

.sign-in-text {
  font-size: 0.9rem;
  font-weight: 600;
  float: left;
  margin: 0;
}

.menu-option {
  text-align: center;
  width: 7%;
}

.menu-option a {
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: 600;
}

.more-li {
  text-align: center;
  width: 11%;
}

.more-li label {
  font-size: 0.9rem;
  font-weight: 600;
}

.more-li select {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
}

.search-li {
  border: none;
  width: 15%;
}

.search-li form {
  padding: 0 10%;
}

.search-li input {
  background-color: #FFFFFF;
  border: none;
  float: left;
  line-height: 1.5rem;
}

.search-li button {
  background-color: #FFFFFF;
  border: none;
  float: left;
  line-height: 1.5rem;
}

.top-section,
.bottom-section {
  padding: 4.5rem 0.5rem 0 0.5rem;
}

.top-header {
  margin: 0 0 2.15rem 0;
}

.top-header h1 {
  color: #4f4f4f;
  float: left;
  font-size: 1.5rem;
  margin: 0;
}

.top-header h2 {
  color: #969696;
  float: right;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.top-section-left {
  background-image: url("../assets/israel-uae.png");
  background-size: cover;
  color: #FFFFFF;
  float: left;
  height: 26rem;
  margin-right: 1%;
  padding: 0.7rem;
  position: relative;
  width: 49%;
}

.top-section-left-wrapper {
  bottom: 0.6rem;
  position: absolute;
}

.top-section-left-wrapper h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.top-section-left-wrapper p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.25rem;
}

.top-section-left-wrapper span {
  border-left: 0.15rem solid #FF0000;
  font-size: 0.75rem;
  font-weight: 300;
  padding-left: 0.4rem;
}

.top-section-right {
  color: #FFFFFF;
  float: left;
  width: 49%;
}

.top-section-right h3 {
  font-size: 0.9rem;
  font-weight: 500;
}

.top-section-right span {
  font-size: 0.75rem;
  font-weight: 400;
}

.top-right-americans {
  background-image: url("../assets/americans.jpg");
  background-size: cover;
  float: left;
  height: 7.5rem;
  margin: 0 2% 2% 0;
  padding: 0.5rem;
  position: relative;
  width: 49%;
}

.americans-wrapper {
  position: absolute;
  bottom: 0.5rem;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/