/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400 900;
    font-style: normal;
}

.momo-trust-sans {
    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 800;
    font-style: normal;
}

body {
    color: #000;
    font-family: "Cinzel", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
img {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0% 7%;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    float: left;
    line-height: 3.75rem;
}

.logo-li {
    width: 7%;
}

.logo-li img {
    vertical-align: middle;
    width: 100%;
}

.nav-middle {
    padding: 0% 18.5%;
}

.nav-menu {
    padding: 0% 3.75%;
}

.nav-menu a {
    font-size: 0.7rem;
    font-weight: 600;
}

.search-li {
    margin-right: 3%;
    width: 1.25%;
}

.search-li img {
    vertical-align: middle;
    width: 100%;
}

.cart-li {
    width: 2%;
}

.cart-li img {
    vertical-align: middle;
    width: 100%;
}

.book-li {
    text-align: right;
    width: 20%;
}

.book-li a {
    font-size: 0.7rem;
    font-weight: 600;
}


/* HOME */

.home {
    background-image: url('../assets/images/home-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    padding: 16.5% 14% 1% 14%;
}

.home h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 3%;
}

.home h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3.25%;
}

.home-services-btn {
    background: #000000;
    border: none;
    margin-bottom: 8.5%;
    padding: 1.25% 3.4%;
}

.home-services-btn a {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 550;
}

.home div {
    background-color: #000000;
    padding: 2.1% 0% 4.75% 0%;
    width: 26.5%;
}

.home div h4 {
    border-left: 0.25rem solid #FFFFFF;
    font-size: 0.825rem;
    font-weight: 500;
    margin-bottom: 5%;
    padding: 10%;
}

.home-discount {
    display: block;
    font-size: 0.9rem;
    font-weight: 450;
    margin-bottom: 7%;
    padding: 0% 10%;
}

.home-discount strong {
    font-size: 2.25rem;
}

.home-style {
    display: block;
    font-size: 0.9rem;
    font-weight: 450;
    margin-bottom: 11%;
    padding: 0% 10%;
}

.home div button {
    background: #FFFFFF;
    border: none;
    margin-left: 10%;
    padding: 4% 8%;
    ;
}

.home div button a {
    font-size: 0.7rem;
    font-weight: 550;
}


/* ABOUT */
.about-services {
    padding: 7.5% 19.5% 24.5% 19.5%;
}

.about-services div {
    float: left;
    text-align: center;
    width: 33.33%;
}

.about-services img {
    margin-bottom: 10%;
    width: 5rem;
}

.about-services h3 {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 7.5%;
}

.about-services p {
    color: #363636;
    font-family: "Momo Trust Sans", sans-serif;
    font-size: 0.65rem;
    font-weight: 350;
    line-height: 1.25rem;
    margin: 0 auto;
    width: 80%;
}

.about-desc {
    background: #F3F4F6;
    padding: 5% 19% 27.5% 19%;
}

.about-desc-content {
    float: left;
    width: 42.5%;
}

.about-desc h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 6.5%;
}

.about-desc p {
    color: #363636;
    font-family: "Momo Trust Sans", sans-serif;
    font-size: 0.65rem;
    font-weight: 350;
    line-height: 1.25rem;
    margin-bottom: 12%;
}

.about-desc a {
    background: #000000;
    color: #FFFFFF;
    font-size: 0.65rem;
    font-weight: 500;
    padding: 5% 12%;
}

.about-desc-img {
    float: left;
    margin-left: 10%;
    width: 47.5%;
}

.about-desc-img img {
    width: 100%;
}


/* SERVICES */
.services {
    padding: 4% 19%;
}

.stylists div {
    float: left;
    text-align: center;
    width: 31.66%;
}

.stylists div:nth-child(1),
.stylists div:nth-child(2) {
    margin-right: 2.5%;
}

.stylists img {
    width: 100%;
}

.stylist-info {
    background: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 6.5%;
    width: 70%;
}

.stylists h4 {
    font-size: 0.7rem;
    font-weight: 500;
}

.stylists span {
    font-size: 0.5rem;
    font-weight: 400;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/