/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400 900;
    font-style: normal;
}

body {
    color: #000;
    font-family: "Cinzel", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
img {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

nav {
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0% 7%;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    float: left;
    line-height: 3.75rem;
}

.logo-li {
    width: 7%;
}

.logo-li img {
    vertical-align: middle;
    width: 100%;
}

.nav-middle {
    padding: 0% 18.5%;
}

.nav-menu {
    padding: 0% 3.75%;
}

.nav-menu a {
    font-size: 0.7rem;
    font-weight: 600;
}

.search-li {
    margin-right: 3%;
    width: 1.25%;
}

.search-li img {
    vertical-align: middle;
    width: 100%;
}

.cart-li {
    width: 2%;
}

.cart-li img {
    vertical-align: middle;
    width: 100%;
}

.book-li {
    text-align: right;
    width: 20%;
}

.book-li a {
    font-size: 0.7rem;
    font-weight: 600;
}


/* HOME */

.home {
    background-image: url('../assets/images/home-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    padding: 16.5% 11%;
}

.home h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 3%;
}

.home h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3.25%;
}

.home-services-btn {
    background: #000000;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 8.5%;
    padding: 1.25% 3.4%;
}

.home-services-btn a {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 550;
}

.home div {
    background-color: #000000;
    padding: 2.1% 0% 0% 0%;
    width: 26.5%;
}

.home div h4 {
    border-left: 0.25rem solid #FFFFFF;
    font-size: 0.825rem;
    font-weight: 500;
    margin-bottom: 5%;
    padding: 10%;
}

.home-discount {
    display: block;
    font-weight: 450;
    margin-bottom: 7%;
    padding: 0% 10%;
}

.home-discount strong {
    font-size: 2.25rem;
}

.home-style {
    display: block;
    font-weight: 450;
    margin-bottom: 11%;
    padding: 0% 10%;
}

.home div button {
    background: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    margin-left: 10%;
    padding: 2.5%;
}

.home div button a {
    font-size: 0.7rem;
    font-weight: 550;
}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/